# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/data
server

# Files from Forge MDK
forge*changelog.txt

!src/generated/resources/data/*

src/generated/resources/.cache/*

# Nicktale API package named "server" must be tracked
!nicktale-api/src/main/java/com/nicktale/api/server/
runs/
dist/
